<h2> Esta es la pregunta que elegiste <%= session[:user_name] %> : </h2>


<p><%= @question.question %></p>
  
 <% @answers.each do |answer| %>   
  	<span>* <%= answer.answer%> </span><br>
  	<a href='/quora/answer/me_gusta/<%=answer.id%>'>Me gusta </a> <%= answer.vote_like%>
  	<a href='/quora/answer/me_disgusta/<%=answer.id%>'>Me disgusta</a> <%= answer.vote_dislike%> 
  	<br>
  	<br>
<%end%>


 <form action="/quora/question/answer" method="get">
    <br><input type="submit" value="New Answer!"> <br>
 </form>

 <form action="/salir" method="get">
    <br><input type="submit" value="Salir!"> <br>
 </form>